@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.ContentModal__landscape {
  object-fit: contain;
  border-radius: 10px;
}

.ContentModal__portrait {
  display: none;
  object-fit: contain;
  height: 90%;
  margin: auto 0;
}


.tagline {
  padding-bottom: 10px;
  align-self: center;
}

.ContentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.ContentModal::-webkit-scrollbar {
  display: none;
}

.ContentModal__about {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  font-weight: 300;
}

.ContentModal__title {
  height: fit-content;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentModal__description {
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 2rem; /*15px prev*/
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  box-shadow: inset 0 0 5px #000000;
  text-align: justify;
  height: fit-content;
  background-color: #183146;
}

.ContentModal__description::-webkit-scrollbar {
  display: none;
}

@media (min-width: 835px) {
  .ContentModal__landscape {
    display: none;
  }
  .ContentModal__portrait {
    display: flex;
    width: 38%;
  }
  .ContentModal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .ContentModal__about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .ContentModal__title {
    font-size: 3.5vw;
  }
  .ContentModal__description {
    font-size: 22px;
  }
}

@media screen and (max-width: 470px) {
  .MuiBox-root.css-16ta1ge {
    padding: 0.5rem;
    height: auto;
  }
  .ContentModal__about {
    justify-content: space-between;
  }
  .ContentModal__description {
    font-size: 12px;
    padding: 1.2rem;
    margin: 1rem auto;
    line-height: 1rem;
    font-family: "Lato", sans-serif;
  }
  .tagline {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  .tagline {
    display: none;
  }
  .ContentModal__description {
    line-height: 1.2rem;
    overflow-y: scroll;
    height: 100px;
    padding: 1rem;
  }
  .ContentModal__about {
    margin: 0 auto;
    padding: 0;
  }
  .ContentModal__about .button-text {
    font-size: .6rem;
  }
  .ContentModal__title {
    margin-top: .5rem;
  }
}
