.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--secondary-bg-color);
  font-size: 3vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
  margin: 0 auto;
  font-weight: 300;
  border-bottom: 5px solid #edae49;
  text-align: center;
}

.header .highlight {
  margin-left: 1.6rem;
  color: var(--highlight-gold);
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
