.app {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.app-container {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: white;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media (max-width: 700px) {
  .app-container {
    padding-top: 5rem;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

.movies,
.series,
.search,
.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

h2 {
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 1.3rem;
  }
}
